
/* General Elements */

.container {
    border: 1px solid blue;
}

.footer-element {
    border: 1px solid orange;
}

/* Main Page */

.home-carousel {
    border: 3px dashed green;
}


.mission-elements-box {
    border: 1px solid purple;
}

.success-stories-box {
    border: 1px solid magenta;
}

.press-elements-box {
    border:1px solid navy;
}




/* About Us Page */
.history-about-box {
    border: 1px solid limegreen;
}

.staff-profile-box {
    border: 1px solid royalblue;
}